*.obj
*.lib
*.pch
*.pdb
*.tlog
*.exe
*.ilk
*.res
*.manifest*
*manifest.rc
*.log
*.swp
HashDigest.html

TiledLighting11_v1.2/TiledLighting11/Shaders/Cache/
TiledLighting11_v1.2/TiledLighting11/Shaders/Cache/
TiledLighting11_v1.2/TiledLighting11/Shaders/Cache/
